.btn-purple{
    background-color:$purple;
    color:white;
    transition-property: background-color color;
    transition-duration: 0.5s;
    &:hover{
        background-color: $grey;
        color:black;
    }
}
a.btn-purple{
    text-decoration :none;
}