nav {
    font-family: $base-font-family;
    background-color: white;
    transition: background-color 1s;

    a {
        color: $black !important;
        transition-property: color;
        transition-duration: 1s;

        &:hover {
            color: $green !important;
        }

        img {
            margin-top: -20px;
            height: 90px;
            width: 100%;
            transition: height .5s;
        }
    }
}

.navbar-scroll {
    background-color: white !important;

    a {
        img {
            height: 70px;
        }
    }
}

@media screen and (max-width : 600px) {
    body {
        overflow-x: hidden;
    }

    nav {
        a {
            img {
                height: 80px;
            }
        }

    }
}